
nav{
    width: 100%;
    background-color: #ede8e8;
    color: black;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo{
    width: 350px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}

.fab{
    background-color: white;
    color: black; 
    border: none; 
    border-radius: 100px; 
    padding: 12px 20px; 
    font-size: 16px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3); 
}
.fab:hover {
    background-color: #e9e9e9; 
}

.fab:active {
    background-color: #e9e9e9; 
}
