.containerSidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    background-color: white;
    padding-top: 20px;
    border-right: 1px solid #ccc;
    width: 350px;  
    height: 100vh; 
    box-sizing: border-box;
    position: fixed; 
}

.logoHauptseite {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
    margin-top: 180px;
}

.logoHauptseite img {
    width: 220px; 
    height: auto;
}


